h2{
    background-color: #000;
    color: #c80f0f;
}

 p{
    color: #3d0fc8;
    /* size: 20px; */
    font-size: 30px;
    font-weight: bold;
}

.bg-yellow{
    background-color: #49d512;
    text-align: center;
}

body{
    background-color: #d4cccc;
   

}
.text-color-of-meals{
    color: #c80f4a;
    font-size: 30PX;
    font-weight: bold;
    font-style: italic;
}

.meals  li{
    color: #0fc8b9;
    font-weight: bold;
    font-size: 25px;
    /* text-align: center; */
}

table ,td, th{
    width: 50%;
    border: 1px solid #3e09d2;
}