* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  /* background: var(--color-black); */
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #6c63ff;
  --color-sucess: #00bf8e;

  --color-red: #f75842;
  --color-primary-variant: rgba(247, 88, 66, 0.4);
  --color-white: white;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: black;
  --color-bg: #1f2641;
  --color-bg1: #2e3267;
  --color-bg2: #424890;
  --transition: all 400ms ease;
  --container-width-lg: 76%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
}

.wrapper {
  display: flex;
  /* position: relative; */
}

.red-circle {
  background: var(--color-red);
  padding: 50px;
  border-radius: 50%;
  height: 20px;
}
.blue-circlr {
  background: var(--color-bg2);
  padding: 50px;
  border-radius: 50%;
  height: 20px;
  margin-top: 500px;
  margin-left: 50%;
  
}

.wrapper_container_card {
  display: flex;
  align-items: center;
  text-align: center;
  /* position: relative; */
  height: 60vh;
  width: 40vh;
  background-color: #5a5b5e;
  display: grid;
  margin: auto;
  margin-top: 13rem;
  border-radius: 10px;
  justify-content: center;
  transform: translate(-50% -50%);
}

.image_container img {
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  border-radius: 50%;
}

.name h1 {
  font-weight: bold;
  font-size: larger;
  color: white;
}
.button {
  display: flex;
  gap: 5px;
  display: flex;
  justify-content: center;
}

.share-profile {
  padding: 8px;
  border: 2px solid;
  /* background-color: red; */
  border-radius: 5px;
  color: white;
}

.follow-me {
  padding: 8px;
  border: 2px solid;
  border-radius: 5px;
  color: white;
}

.container-share-modal{
   background-color: rgb(27, 27, 27);
   width: 60vh;
   height: 30vh;
   justify-content: center;
   margin: auto;
   border: 5px solid red;
   border-radius: 5px;
   transform: translate(-50% -50%);
   scale: 0;
   
}
.share-modal{
   display: flex;
   justify-content: center;
   margin-top: 10px;
   gap:50% ;
   
}

.share-modal h1  {
   font-size: 20px;
   font-weight: bold;
   color: white;
}

.share-modal i{
font-size: 25px;
cursor: pointer;
color: white;
}

.all_social{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;

}

.socical{
   border: 2px solid green;
   width: 40px;
   height: 40px;
   display: flex;
   display: grid;
   gap: 8px;
   justify-content: center;
   align-content: center;
   border-radius: 50%;
   cursor: pointer;
}

.socical:hover{
background-color: aliceblue;
transform: var(--transition);
}

.share-this-via h1{
color: aliceblue;
display: block;
justify-content: start; 
}